/* * { */
/*     box-sizing: border-box; */
/* } */

/* div { */
/*     border: 1px solid orange; */
/* } */

/* .story > a { */
/*     color: orangered; */
/*     font-style: italic; */
/* } */

a {
    color: #66d;
    font-style: italic;
    transition: all 0.5s;
}

a:hover {
    color: lime;
    transition: all 0.5s;
}

h1 {
    font-size: 50px;
}

.skills {
    background-color: #eee;
    color: #66d;
    font-size: 17px;
    margin-top: -15px;
    padding: 20px;
    text-align: center;
}

.projH {
    /* font-size: 30px; */
    color: #445;
    /* height: 55px; */
    margin-bottom: 1px;
    text-align: center;
}

img {
    border: 1px solid black;
    opacity: 0.3;
    transition: all 0.4s ease-in;
}

img:hover {
    border: 1px solid gray;
    opacity: 1;
    /* transition: all 0.3s ease-out; */
    transition: all 0.4s ease-in;
}

img:onblur {
    border: 1px solid black;
    opacity: 0.3;
    transition: all 0.4s ease-in;
}

.img-div {
    margin-bottom: 50px;
}

.links-div {
    font-weight: 300;
    font-size: 18px;
    margin-right: 10px;
}

.img-links {
    margin-right: 25px;
    text-align: right;
}

.seperator {
    margin: 0 4px 0 9px;;
}