* {
    font-family: 'Dosis', sans-serif;
}

p {
    font-size: 22px;
}

a {
    color: #66d;
    transition: all 0.5s;
}

a:hover {
    color: lime;
    transition: all 0.5s;
}

h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 60px;
}

.me-pic-div {
    cursor: url('img/clippers_48.png'), url('img/clippers_32'), pointer;
}

.me-pic {
    display: block;
    margin: -20px auto 0 auto;
    pointer-events: none;
}

.me-pic::selection {
    background: #fff2a8;
}

.skills {
    background-color: #eee;
    color: #66d;
    font-size: 17px;
    margin: 15px auto 15px auto;
    padding: 20px;
    text-align: center;
}

.projH {
    color: #775;
    font-size: 30px;
    margin-bottom: 1px;
    text-align: center;
}

.project-p {
    font-size: 18px;
    text-align: center;
}

.project-img {
    border: 1px solid black;
    opacity: 0.3;
    transition: all 0.4s ease-in;
}

.project-img:hover {
    border: 1px solid gray;
    opacity: 1;
    /* transition: all 0.3s ease-out; */
    transition: all 0.4s ease-in;
}

.project-img:onblur {
    border: 1px solid black;
    opacity: 0.3;
    transition: all 0.4s ease-in;
}

.img-div {
    margin-bottom: 50px;
}

.links-div {
    font-weight: 300;
    font-size: 18px;
    margin-right: 10px;
}

.img-links {
    margin-right: 25px;
    text-align: right;
}

.seperator {
    font-style: normal;
    margin: 0 4px 0 9px;;
}
