/* * { */
/*     box-sizing: border-box; */
/* } */

/* div { */
/*     border: 1px solid orange; */
/* } */

h1 {
    font-size: 50px;
}

.projH {
    height: 55px;
}

.skills {
    background-color: #eee;
    color: #77d;
    font-size: 17px;
    margin-top: -15px;
    padding: 20px 0 20px 0;
    text-align: center;
}